<div class="modal-header">
  <h4 class="modal-title">Add Task</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form (ngSubmit)="postTask()" *ngIf="users; else loadingContainer">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input id="title" [disabled]="loading" name="title" class="form-control" [(ngModel)]="task.title" />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <input
        id="description"
        [disabled]="loading"
        name="description"
        class="form-control"
        [(ngModel)]="task.description"
      />
    </div>

    <div class="mb-3">
      <label for="remarks" class="form-label">Remarks</label>
      <input id="remarks" [disabled]="loading" name="remarks" class="form-control" [(ngModel)]="task.remarks" />
    </div>

    <div class="mb-3">
      <label for="priority" class="form-label">Priority</label>
      <select class="form-select" id="priority" [disabled]="loading" name="priority" [(ngModel)]="task.priority">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="userId" class="form-label">Assign To:</label>
      <select class="form-select" id="userId" [disabled]="loading" name="userId" [(ngModel)]="task.userId">
        <option value="" selected>...</option>
        <option value="{{ user.id }}" *ngFor="let user of users">{{ user.fullName }} - {{ user.email }}</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="dueDate" class="form-label"
        >Due Date: {{ this.dueDateModel.month }}/{{ this.dueDateModel.day }}/{{ this.dueDateModel.year }}</label
      >
      <br />
      <ngb-datepicker
        id="dueDate"
        #dp
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="dueDateModel"
        (navigate)="date = $event.next"
      ></ngb-datepicker>
    </div>

    <button type="submit" class="btn btn-primary" *ngIf="!loading; else loadingButton">Submit</button>
    <ng-template #loadingButton>
      <app-loading></app-loading>
    </ng-template>
  </form>
  <ng-template #loadingContainer>
    <app-loading></app-loading>
  </ng-template>
</div>
