<div class="container-fluid" *ngIf="tasks; else loadingContainer">
  <br />
  <div class="row">
    <div class="col">
      <h3 class="float-left">
        Tasks
      </h3>
      <button class="btn btn-outline-dark float-right" (click)="openNewTaskModal()">New Task</button>
    </div>
  </div>
  <br />
  <app-tasks-list
    *ngIf="users; else loadingContainer"
    [tasks]="tasks"
    [users]="users"
    (onArchiveSuccess)="archiveSuccess($event)"
    (onEditSuccess)="editSuccess($event)"
    (onDeleteSuccess)="deleteSuccess($event)"
  ></app-tasks-list>
</div>
<ng-template #loadingContainer>
  <app-loading></app-loading>
</ng-template>
