<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <div class="btn-group">
      <button class="nav-link btn btn-light" (click)="menuService.toggleMenu()"><i class="bi bi-list"></i></button>
      <a class="nav-link navbar-brand text-uppercase" [routerLink]="['/app']">
        <i class="bi bi-clipboard-data d-inline-block align-top"></i>
        Task Manger
      </a>
    </div>
    <div class="btn-group" *ngIf="!isMobile">
      <a class="btn btn-outline-dark">
        <i class="bi bi-person"></i>
        My Account
      </a>
    </div>
  </div>
</nav>
