<nav class="navbar navbar-light bg-light {{(innerTop > 5 || isMobile) && 'mini'}}">
  <div class="container-fluid">
    <div class="btn-group">
      <button class="nav-link btn btn-light" (click)="menuService.toggleMenu()"><i class="bi bi-list"></i></button>
      <a class="nav-link navbar-brand text-uppercase" [routerLink]="['/app']">
        <i class="bi bi-clipboard-data d-inline-block align-top"></i>
        Task Manger
      </a>
    </div>
    <div class="btn-group">
      <a class="btn btn-outline-dark btn-account">
        <i class="bi bi-person"></i>
        <span>
          My Account
        </span>
      </a>
    </div>
  </div>
</nav>
