<div class="container-fluid h-50">
  <div class="row section-title">
    <div class="col">
      <h3>Overview</h3>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">Users</h5>
          <p class="card-text text-center"><i class="bi bi-people-fill"></i> 0</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">Active Tasks</h5>
          <p class="card-text text-center"><i class="bi bi-list-task"></i> 10</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">Completed</h5>
          <p class="card-text text-center"><i class="bi bi-file-check"></i> 5</p>
        </div>
      </div>
    </div>
  </div>

  <br />

  <div class="row h-100">
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title text-center">Ranking <i class="bi bi-people-fill"></i></h5>
          <p class="card-text text-center">0</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title text-center">Recently Completed <i class="bi bi-list-task"></i></h5>
          <p class="card-text text-center"><i class="bi bi-people-fill"></i> 0</p>
        </div>
      </div>
    </div>
  </div>
</div>
